<header>
	<nav>
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo">jules sepulveda</a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    {{!-- <li><a href="#" id="link-home">index</a></li> --}}
	    {{!-- <li><a href="#" id="link-blog">blog</a></li> --}}
	    <li><a href="#" id="link-about">about</a></li>
	  </ul>
	</div>
	</nav>
</header>
