{{> nav}}
<main>
	<div class="container">

	<h1 class="left-align">about page will go here</h1>
		<div>
		<p>Lorem ipsum dolor sit amet, id platonem voluptaria consectetuer mel, eu essent prompta consetetur pro. Quo ea deseruisse adversarium, ad per wisi labores, at eam delenit qualisque. Te prima invidunt sit, facete liberavisse at vis, est dico agam facilisi in. Ea malis oblique sadipscing est. Ei vis ipsum vivendum philosophia, primis virtute legendos ad vim. Te pro everti alienum invenire. Malis possit ex sed. Usu tantas aliquam dissentiunt te, mea ne verear numquam. Vis an minimum ponderum, tale noster deleniti ad sit.</p>
		</div>

	</div>
</main>
